page-result-selection {
    .checkbox{
        width: 17%;
        margin-left: -7%;
        padding: 0px;
    }

    .item-checkbox-right {
        flex-direction: row-reverse;
    }

    .col{
        width: 70% !important;
        padding: 0px !important;
    }
}
