page-result-selection {
    ion-checkbox{
        button.item-cover{
            width: 15%;
        }
    }

    ion-label{
        button.item-cover{
            width: 85%;
            right: 0;
            left: auto;
        }
    }
    
    .item-checkbox-right {
        flex-direction: row-reverse;
    }

    .col{
        // width: 70% !important;
        padding: 0px !important;
    }
}
